body{
    margin: 0;
    padding: 0;
    background:#f5f5f5;
}

.container{
    width: 95%;
    margin: 30px auto;
    background: white;
    padding: 35px;
    border-radius: 10px;
    display: flex;
    gap: 40px;

}

.profile-info img{
    width: 180px;
    height: 180px;
    border-radius: 10px;
    object-fit: cover;
}

.left{
    width: 50%;
}

.profile-info{
    display: flex;
    gap:20px;
    align-items: flex-start;

}

h2{
    font-size: 24px;
    margin-top: 30px;
    /* border-bottom: 3px solid blue; */
    display: inline-block;
    padding-bottom: 5px;
}

.skill-row{
    margin-top: 20px;
}

.skill-title{
    display: flex;
    align-items: center;
    gap:12px;
    font-weight: bold;
    margin-bottom: 5px;
}

.skill-bar{
    width: 100%;
    height: 10px;
    background:#e3e3e3;
    border-radius: 1px;
    overflow: hidden;
}

.fill {
    height: 100%;
    background-color: #1a73e8;
}

.percent {
    float: right;
    margin-top: -20px;
    font-size: 14px;
    font-weight: bold;

}

.right{
    width: 50%;
    padding-right: 30px;
}


.about-text{
    font-size: 17px;
    line-height: 1.6;
    color: #555;

}
h2 span
{
	text-decoration: underline blue;
}



